@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Nunito Sans", sans-serif;
}

.btn {
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  box-shadow: 0 0 0 2px #2e2e48, 0 0 0 4px #fafafc;
}
.img-shadow {
  position: absolute;
  filter: blur(1rem) brightness(80%);
  transform: translateY(0.5rem) scaleX(0.9);
  z-index: -1;
  opacity: 0.6;
}

@layer components {
  .footerItem {
    @apply text-base hover:underline opacity-75 hover:opacity-100 cursor-pointer transform transition duration-300 ease-out;
  }

  .filter-btn{
    @apply px-4 py-2 border rounded-full cursor-pointer hover:shadow-md active:scale-95 active:bg-gray-100 transform transition duration-150 ease-out

  }
}

/* override */
.rdrStaticRange {
  border-bottom: none !important;
  background-color: #fafafc !important;
}

.rdrDefinedRangesWrapper {
  background-color: #fafafc !important;
  border-radius: 8px !important;
  margin-right: 1.5rem;
  padding-top: 0.75rem;
  border-right: 0 !important;
}
